@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  color: #4d4d4d;
}

.wrapper {
  background-color: #F5F5F5;
}

#header {
  background-color: #FF665A;
  text-align: center;
  padding: 2%;
  font: 1000 2em 'Montserrat', sans-serif;
}

#view {
  padding: 10px;
  float: left;
  color: #4d4d4d;
}

.drop-down-div {
  padding: 10px;
  float: right;
  display: block;
}

.drop-down-div h5 {
  display: inline-block;
}

.drop-down-div select {
  color: #4d4d4d;
  border: 1px solid #ff665a;
}

footer {
  background: #7d6b7d;
  padding: 20px;
  display: block;
}

.header {
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.container {
  display: inline-table;
  margin-left: 10px;
}

.container ul {
  list-style-type: none;
}

.container ul li {
  display: inline-block;
  width: 45%;
  margin: 5px;
  height: 170px;
  background-color: #fff;
  border: 1px solid #ff665a;
}

.container ul li img {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.container ul li h6 {
  padding: 1px;
}

.main {
  background: #a3a1a8;
  width: 100%;
  height: 100px;
}

.main img {
  float: right;
  height: 100%;
  width: 120px;
}

.main h6 {
  padding-top: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.main h5 {
  text-align: center;
  padding-top: 5px;
}

.main a {
  margin-left: 30px;
}

.medium-btn {
  background: #ff665a;
  font-weight: bold;
  border: 0;
  padding: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.signup-form {
  display: inline-table;
  width: 100%;
  height: 600px;
  position: relative;
}

.signup-form h3 {
  text-align: center;
  margin-top: 50px;
}

.signup-form form {
  text-align: center;
}

.signup-form input {
  margin: 10px;
  width: 140px;
  height: 20px;
  border: 1px solid #ff665a;
  color: #4d4d4d;
}

.signup-form button {
  margin-bottom: 60px;
}

@media only screen and (min-width: 700px) {
  .main img {
    height: 100%;
    width: 200px;
  }

  .main h6 {
    text-align: left;
    font-size: 18px;
    margin-top: -35px;
    margin-left: 120px;
  }

  .main h5 {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
    text-align: left;
  }

  .main a {
    margin-left: 120px;
  }

  .container ul {
    list-style-type: none;
  }

  .container ul li {
    display: inline-block;
    width: 30%;
    margin: 5px;
    height: 170px;
    background-color: #fff;
    border: 1px solid #ff665a;
  }

  .container {
    display: inline-table;
    margin-left: 30px;
  }

  footer {
    background: #7d6b7d;
    padding: 0 100px;
    display: block;
  }

  .signup-form {
    margin-top: 30px;
    width: 80%;
    left: 70px;
  }
  
  .signup-form form {
    text-align: center;
    margin-left: 10%;
  }
  
  .signup-form input {
    margin: 10px;
    width: 200px;
    height: 30px;
  }

  .signup-form button {
    margin: 10px;
    width: 200px;
    height: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .container ul li {
    display: inline-block;
    width: 15%;
    margin: 5px;
    height: 170px;
    background-color: #fff;
    border: 1px solid #ff665a;
  }

  .signup-form {
    margin-top: 30px;
    width: 70%;
    left: 80px;
  }
  
  .signup-form h3 {
    text-align: center;
    margin-top: 50px;
    margin-left: 80px;
  }
  
  .signup-form form {
    text-align: center;
    margin-left: 10%;
  }
  
  .signup-form button {
    margin: 10px;
    width: 200px;
    height: 40px;
  }
  
}
